/* styles.css */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}



h1 {
    color:black;
    font-size: 45px;
    text-align: center;
}

h2 {
    color:black;
    font-size: 14px;
    text-align: left;
}

h3 {
    color:black;
    font-size: 22px;
    text-align: center;
}


#game-board {
    display: flex;
    flex-wrap: wrap;
    width: 500px; 
    gap: 20px;
    justify-content: center;
}


.card {
    width: 100px;
    height: 100px;
    background-color: pink;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 32px;
    color: white;
    border-radius: 10px;
}

.card.matched {
    background-color: green;
}

.card.clicked {
    background-color: none;
}

